* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-purple: #932EB6;
    --nav-duration: 0.8s;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

li a:hover {
    color: var(--primary-purple);
}

img {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*-- HEADER --*/
.main-header {
    background: #000;
    padding: 15px 0;
}

#hamburger {
    padding: 15px 15px 0 0;
    width: 8%;
    display: none;
}

.lines {
    background: #fff;
    height: 3px;
    margin-bottom: 6px;
}

.logo {
    width: 45%;
    text-align: left;
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: 700;
}

.logo-icon {
    padding-right: 8px;
    color: var(--primary-purple);
}

.sound {
    color: var(--primary-purple);
}

#navigation {
    width: 55%;
    text-align: right;
}

#navigation li {
    display: inline-block;
    padding: 10px 18px;
}

.banner-image {
    background-image: url('../img/speaker.jpg');
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.banner-content {
    z-index: 5;
    position: absolute;
    top: 25%;
    text-align: left;
}

.main-header,
.banner-content,
.logo a,
.sign-up,
.fav-left {
    color: #fff;
}

.header-wrap,
.fav-wrap,
.images,
.playlist-wrap,
.footer-wrap {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 4.5rem;
}

.banner-content h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}

.banner-content h1,
.banner-content h2 {
    padding-bottom: 10px;
}

.banner-content h3 {
    padding-bottom: 40px;
}

.sign-up {
    border: none;
    padding: 14px 22px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 4px;
}

.sign-up:focus {
    outline: none;
}

.sign-up:hover {
    background: #4C0665;
}

.banner-content p {
    padding-top: 36px;
    font-size: 1.3rem;
    font-weight: 500;
}

.trial {
    border: 2px solid #51CF9B;
    padding: 8px 15px;
    color: #51CF9B;
    font-weight: 500;
    font-size: 1.1rem;
}

.trial:hover {
    background: #51CF9B;
    color: #000;
}

li,
.album,
#close {
    cursor: pointer;
}

.sign-up {
    background: var(--primary-purple);
}

/*-- FAVOURITES --*/
.fav-wrap {
    padding: 10% 0;
}

.fav-left {
    text-align: left;
    width: 40%;
}

.fav-right {
    width: 55%;
    margin-left: 5%;
}

.album {
    width: 30.33%;
    margin-left: 3%;
    margin-bottom: 20px;
    position: relative;
    background: #000;
}

.heading-overlay {
    display: none;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.85);
    animation-name: navOpen;
    animation-duration: var(--nav-duration);
}

.heading-overlay h4 {
    padding-top: 80px;
    width: 75%;
    margin: 0 auto;
}

.album:hover .heading-overlay {
    display: block;
}

.images {
    margin-left: -3%;
}

.favourites {
    background: linear-gradient(90deg, var(--primary-purple), #51CF9B);
}

.fav-left h2 {
    padding-top: 20%;
    padding-bottom: 25px;
    font-size: 2.2rem;
}

.fav-left p {
    font-size: 1.2rem;
    line-height: 30px;
}

.all-music a {
    font-size: 1.1rem;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 18px;
}

.all-music {
    padding-top: 25px;
}

.all-music a:hover {
    background: #fff;
    color: #000;
}

#close-nav {
    color: #000;
    font-size: 7rem;
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    right: 20px;
    display: none;
    font-weight: 300;
}

@keyframes navOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*-- TRACK PLAYLIST --*/
.playlist {
    padding: 35px 0;
}

.album-info {
    width: 23%;
}

.album-info table {
    text-align: left;
    margin-top: 10px;
}

.tracklist {
    width: 72%;
    margin-left: 5%;
    text-align: left;
}

.tracklist h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
}

.tracklist h4 {
    padding: 10px 0;
}

.album-cover {
    max-height: 275px;
}

.table-title {
    font-weight: 600;
    padding-right: 20px;
}

td {
    background: #eee;
    padding: 8px 8px 8px 5px;
}

.action-btn {
    background: var(--primary-purple);
    font-size: 1.125rem;
    color: #fff;
    padding: 5px;
}

.action-btn-large {
    font-size: 3.5rem;
    padding: 0 15px;
    color: var(--primary-purple);
}

#playing-now {
    color: #51CF9B;
    display: none;
}

.music-controls {
    margin-top: 20px;
}

#prev,
#play,
#next {
    border: none;
    background: none;
}

.songs {
    padding-top: 35px;
}

.all-songs li {
    padding: 10px;
    border-bottom: 1px dotted #ccc;
    font-size: 1.1rem;
}

.progress-container {
    border: 1px solid #ccc;
    width: 60%;
    margin-top: 30px;
    height: 10px;
    border-radius: 4px;
}

.progress {
    background: var(--primary-purple);
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

/*-- DEVICES --*/
.devices {
    height: 600px;
    position: relative;
}

.device-background {
    background: url('../img/phone.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center center;
}

#device-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
}

.device-text {
    color: #fff;
    position: relative;
    z-index: 10;
    text-align: left;
    padding-top: 15%;
}

.device-text h2 {
    font-size: 3.8rem;
    padding-bottom: 15px;
}

.device-text p {
    font-size: 1.5rem;
}

.unlimited-text {
    padding-bottom: 15px;
}

.wifi-text {
    padding-bottom: 45px;
}

.frequent-questions {
    background: linear-gradient(105deg, #8f1d1d, #4C0665);
    color: #fff;
    padding-bottom: 75px;
}

.frequent-questions h2 {
    font-size: 3rem;
    padding: 45px 0 0 0;
}

.question-wrap {
    max-width: 960px;
    margin: 50px auto 0 auto;
}

.question {
    position: relative;
    margin-bottom: 4px;
}

.question h4 {
    font-size: 1.8rem;
    display: inline-block;
    font-weight: 400;
}

.answer {
    font-size: 1.5rem;
    margin: 4px 0;
    display: none;
}

.answer-top {
    padding-bottom: 22px;
}

.question,
.answer {
    background: #000;
    padding: 20px;
    text-align: left;
}

.cross {
    font-size: 5rem;
    position: absolute;
    right: 20px;
    top: -10px;
    font-weight: 300;
}

.show {
    display: block;
}

.cross-close {
    transform: rotate(45deg);
    transition: 0.2s ease-in;
}

.question:hover {
    cursor: pointer;
}

.show-nav {
    animation-name: navOpen;
    animation-duration: var(--nav-duration);
    display: block;
}

.main-footer {
    background: #000;
    color: #fff;
    padding: 45px 0 40px 0;
}

.footer-block {
    width: 25%;
    text-align: left;
    position: relative;
}

.footer-block h5 {
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 20px;
    color: #8E8E8E;
}

.footer-block li {
    padding-bottom: 12px;
    font-size: 0.9rem;
}

.social li {
    display: inline-block;
    font-size: 2.2rem;
    padding-right: 20px;
    color: #8E8E8E;
}

.footer-block p:first-child {
    padding-bottom: 22px;
}

.footer-block p:last-child {
    font-size: 0.9rem;
}

.designed-by {
    padding-top: 80px;
    text-align: right;
    color: #51CF9B;
    font-size: 0.85rem;
}

@media (max-width: 480px) {
    .main-header {
        position: relative;
        height: 20px;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 15px;
        font-size: 1.3rem;
        padding-top: 12px;
    }

    #navigation {
        position: fixed;
        top: 0;
        background: #fff;
        z-index: 1000;
        width: 100%;
        height: 100%;
        display: none;
    }

    #close-nav {
        display: block;
    }

    ul {
        padding-top: 70px;
    }

    #navigation li {
        display: block;
        padding: 10px 18px;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }

    #navigation li a {
        color: #000;
    }

    .trial {
        border: none;
        padding: 0;
        color: #51CF9B !important;
    }

    #hamburger {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        height: 100%;
    }

    .banner-image {
        max-height: 350px;
    }

    .banner-content {
        top: 15%;
    }

    .banner-content h1 {
        font-size: 2.5rem;
    }

    .banner-content h2 {
        font-size: 1.2rem;
    }

    .banner-content h3 {
        font-size: 1.2rem;
        padding-bottom: 30px;
    }

    .sign-up {
        margin-top: 10px;
        font-size: 1.1rem;
    }

    .banner-content,
    .device-text {
        padding-left: 15px;
    }

    .banner-content p {
        padding-top: 30px;
        font-size: 1.1rem;
    }

    .devices {
        height: 320px;
    }

    .device-text {
        padding-top: 20%;
    }

    .device-text h2 {
        font-size: 1.8rem;
    }

    .device-text p {
        font-size: 1.2rem;
    }
    
    .wifi-text {
        padding-bottom: 34px;
    }

    .fav-wrap {
        display: block;
        padding: 0 15px;
    }

    .fav-left {
        width: 100%;
    }

    .fav-left h2 {
        padding: 40px 0 30px 0;
        font-size: 1.6rem;
    }

    .fav-left p {
        font-size: 1rem;
    }

    .all-music {
        padding-top: 20px;
    }

    .fav-right {
        padding: 55px 0;
    }

    .all-music a {
        font-size: 0.95rem;
        padding: 10px 12px;
    }

    .fav-right {
        width: 100%;
        margin-left: 0;
    }

    .heading-overlay h4 {
        width: 100%;
        font-size: 0.8rem;
        padding-top: 35px;
    }

    .frequent-questions h2 {
        font-size: 2rem;
    }

    .question-wrap {
        padding: 0 15px;
    }

    .question h4,
    .answer p {
        font-size: 1.1rem;
    }

    .cross {
        font-size: 4rem;
        top: -7px;
    }

    .main-footer {
        padding-top: 0;
    }

    .footer-wrap {
        display: block;
        padding: 0 25px 0 15px;
    }

    .footer-block {
        width: 100%;
        border-bottom: 1px solid #8E8E8E;
    }

    .footer-block h5 {
        padding-bottom: 8px;
        padding-top: 30px;
    }

    .footer-block ul {
        padding: 20px 0;
    }

    .social li {
        font-size: 1.9rem;
    }

    .designed-by {
        padding-right: 25px;
    }

    .footer-block p:first-child {
        padding: 20px 0 8px 0;
    }

    .footer-block p:last-child {
        padding-bottom: 25px;
    }
}